<!DOCTYPE html>
<!--
   "If you remember the shape of your spoon at lunch,
            it has to be the wrong shape."
                                 -Adrian Frutiger
-->

<html>
  <head>
    <title>SystemLite</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/svg.css">
    <link rel="stylesheet" href="css/tabbar.css">
    <link rel="stylesheet" href="css/footer.css">
  </head>
  <body>
    <div class="sl-page">
      <div class="sl-item header">
        System Lite - Cloud Data Services SRE
      </div>
      <div class="sl-item tabs">
        <!-- TABS -->
        <ul class="tab-box" id="components" v-cloak>
          <li v-for="component in compList"
              v-on:click="tabClick($index, $event)"
              v-bind:class="{ 'tab-selected': component.selected }">
            <div class="tab-item" v-cloak>
              <!-- This data binding is one directional. I think that is ok because it
              prevents the user from creating an unvalidated in-between state while
              they are in the process of editing the element -->
              <span class="tab-name" data-tagitem="true">{{ component.name }}</span>
              <span class="tab-delete" v-on:click="deleteTab($index)"></span>
            </div>
          </li>
          <li v-on:click="newTab()" id="new-tab">
            <div class="tab-item">+</div>
          </li>
        </ul>
      </div>
      <div class="sl-item body">
        <!-- SVG Board -->
        <svg width="5000" height="5000" id="svgCanvas" v-on:mouseup="dragStop() "v-on:mousemove="mouseMove">
          <g :transform="scaleFactorStyle">
            <!-- Render Paths -->
            <g v-for="path in paths">
              <path class="connectingPath" :d="path">
            </g>
            <!-- Render Circles -->
            <g v-for="item in circles">
              <circle v-on:mousedown="dragStart($event, $index)"
                      data-type="circles"
                      class="outerElement"
                      :cx="item.x" :cy="item.y" :r="item.r" :stroke="item.style.outColor"
                      stroke-width="1" :fill="item.style.inColor" />
              <rect :x="item.x+item.r" :y="item.y-2" rx="2" ry="2" width="2" height="2"
                    class="lineNode" v-on:mousedown="lineStart" />
              <rect :x="item.x-item.r-2" :y="item.y-1" rx="2" ry="2" width="2" height="2"
                    class="lineNode" v-on:mousedown="lineStart" />
              <text text-anchor="middle" :x="item.x" :y="item.y-item.r-8" fill="black" font-size="8">
                {{ item.label }}
              </text>
            </g>
          </g>
        </svg>
      </div>
      <div class="sl-item footer">
        <div id="canvasControl">
          <span v-on:click="scaleSvgButton(1)" class="scalebutton">+</span>
          <span v-on:click="scaleSvgButton(-1)" class="scalebutton">-</span>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js"></script>
    <script src="js/svg.js"></script>
    <script src="js/tabs.js"></script>
  </body>
</html>
