.scalebutton {
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  color: grey;
  /* disable highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textbutton {
  margin-left: 1em;
  bottom: 0.24em;
  position: relative;
  color: rgba(0,0,0,.25);
  border: solid;
  border-width: 1px;
  padding: 2px 8px 3px 8px;
  border-radius: 12px;
}

.textbutton.active {
  cursor: pointer;
  color: rgba(0,0,0,.75);
}

#svgPalette {
  background-color: white;
  margin: 10px;
  margin-top: 3px;
  border: solid;
  border-width: 1px;
}

.nodeButton {
  cursor: pointer;
}
