.scalebutton {
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  color: grey;
  /* disable highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textbutton {
  margin-left: 1em;
  bottom: 0.2em;
  position: relative;
  color: rgba(0,0,0,.25);
}

.textbutton.active {
  cursor: pointer;
  color: rgba(0,0,0,.75);
}
